---
import MainLayout from "../layouts/MainLayout.astro";
import { base_url } from "../utils/url";
import { Button } from "../components/ui/Button";

const title = "Error 404";
---

<MainLayout title={title}>
  <section class="flex items-center h-full p-16">
    <div
      class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
    >
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">
          Sorry, we couldn't find this page.
        </p>
        <p class="mt-4 mb-8 text-lg text-gray-500 dark:text-slate-400">
          But dont worry, you can find plenty of other things on our homepage.
        </p>
        <Button
          className="border-sky-500 text-sky-600 hover:bg-sky-100 cursor-pointer"
          variant="outline"
        >
          <a class="btn" href={base_url} rel="noopener noreferrer"
            >Back to homepage</a
          >
        </Button>
      </div>
    </div>
  </section>
</MainLayout>
