---
import { Card } from "../components/ui/Card";
import DashboardLayout from "../layouts/DashboardLayout.astro";
import { Table } from "../components/ui/Table";
import DownloadLogo from "../assets/logos/MaterialSymbolsDownload.svg";
import { base_url } from "../utils/url";
---

<DashboardLayout title="Panel Principal - Sistema de Vacunación de Panamá">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-sky-800 mb-2">Vacunas aplicadas</h1>
    <p class="text-gray-600">Historial de vacunación</p>
  </div>

  <Card className="mb-8">
    <div class="bg-gradient-to-r from-sky-500 to-emerald-400 text-white p-4">
      <h2 class="text-xl font-bold">MIS VACUNAS</h2>
    </div>
    <div class="p-4">
      <Table>
        <thead>
          <tr>
            <th>Vacuna</th>
            <th>Fecha/Dosis</th>
            <th>Enfermedad prevenible</th>
            <th>Centro de salud</th>
            <th>Dosis</th>
            <th>Certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="font-medium">COVID-19</td>
            <td>15/01/2023</td>
            <td>Coronavirus SARS-CoV-2</td>
            <td>Hospital Nacional</td>
            <td>2</td>
          </tr>
          <tr>
            <td class="font-medium">Influenza</td>
            <td>03/05/2024</td>
            <td>Gripe estacional</td>
            <td>Centro de Salud San Miguelito</td>
            <td>1</td>
          </tr>
          <tr>
            <td class="font-medium">Hepatitis B</td>
            <td>22/08/2022</td>
            <td>Hepatitis B</td>
            <td>Policlínica JJ Vallarino</td>
            <td>3</td>
          </tr>
          <tr>
            <td class="font-medium">Tétanos</td>
            <td>10/11/2021</td>
            <td>Tétanos</td>
            <td>Hospital Santo Tomás</td>
            <td>1</td>
            <td
              ><a class="flex items-center space-x-2" href={base_url}>
                <DownloadLogo class="h-7 w-7" />
              </a></td
            >
          </tr>
        </tbody>
      </Table>
    </div>
  </Card>
</DashboardLayout>
