---
import Icon from "./IconDashboard.astro";
import { url } from "../utils/url";
const { pathname } = Astro.url,
  navItems = [
    {
      href: url("/dashboard"),
      name: "Panel Principal",
      icon: "layout-dashboard",
    },
    {
      href: url("/dashboard/vaccines"),
      name: "Mis Vacunas",
      icon: "syringe",
    },
    {
      name: "Calendario",
      href: url("/dashboard/calendar"),
      icon: "calendar",
    },
    {
      name: "Certificados",
      href: url("/dashboard/certificates"),
      icon: "file-text",
    },
    {
      name: "Centros de Vacunación",
      href: url("/dashboard/locations"),
      icon: "map-pin",
    },
    {
      name: "Notificaciones",
      href: url("/dashboard/notifications"),
      icon: "bell",
    },
    {
      name: "Configuración",
      href: url("/dashboard/settings"),
      icon: "settings",
    },
    {
      name: "Ayuda",
      href: url("/dashboard/help"),
      icon: "help-circle",
    },
  ];
---

<div class="w-64 bg-white border-r p-4 hidden md:block overflow-y-auto">
  <div class="space-y-1">
    {
      navItems.map((item) => {
        const isActive = pathname === item.href;
        return (
          <a
            class:list={[
              `flex items-center space-x-3 px-3 py-2 rounded-md text-sm font-medium transition-colors`,
              {
                "bg-sky-100 text-sky-700": isActive,
                "text-gray-600 hover:bg-gray-100": !isActive,
              },
            ]}
            href={item.href}
          >
            <Icon name={item.icon} />
            <span>{item.name}</span>
          </a>
        );
      })
    }
  </div>
</div>
