---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/vacunas/favicon.svg" rel="icon" type="image/svg+xml" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-sky-50 to-white">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
